/*
    Mauricio Lechuga
    Student Number - 8952857
*/

body {
    max-width: 1600px;
    font: 16px "Helvetica", sans-serif;
    background-color: hsla(227, 62%, 33%, 1);
}

main {
    float: left;
    width: 930px; 
}

aside {
    float: right;
    width: 450px; 
}

footer {
    clear: both;
}

.structural {
    padding: 10px; 
    border: 5px solid #cc3;
    margin: 10px; 
}

.structural main {
    background-color: black;
}

header {
    background-color: hsl(60, 60%, 60%);
}

main {
    background-color: hsl(227, 62%, 20%);
}
aside {
    background-color: hsl(227, 62%, 45%);
}

footer {
    background-color: hsl(33, 100%, 60%);
}

footer p {
    font-size: 0.8rem;
}

h2 {
    color: #cc3;
    font-size: 1.25em;
}

#firstParagraph {
    color: rgb(160, 160, 160);
}

#secondParagraph {
    color: rgb(250, 250 , 250);
}

a:hover {
    color: #cc3;
}