/*
    Mauricio Lechuga
    Student Number - 8952857
*/

body {
    width: 100vw;
    height: 100vh;
    font: 18px "Helvetica", sans-serif;
    background-color: hsla(227, 62%, 33%, 1);
}

h1 {
    font-size: 2.5rem; color: darkorange;
}

h2 {
    color: darkorange;
    font-size: 2rem;
}

header {
    background-color: hsl(60, 60%, 60%);
}

nav li {
    display: inline;
    list-style-type: none;
    font-size: 1.5rem;
}

nav ul li a {
    border: 2px solid indigo;
    color: indigo;
    background-color: cornsilk;
    text-decoration: none;
    padding: 5px;
}

nav a:hover {
    border: 2px solid cornsilk;
    color: cornsilk;
    background-color: indigo;
}

main {
    float: left;
    width: 65vw; 
    background-color: hsl(60, 60%, 60%);
}

aside {
    float: right;
    width: 25vw;
    background-color: hsl(227, 62%, 45%);
}

footer {
    clear: both;
    background-color: hsl(33, 100%, 60%);
}

form {
    border: 5px dashed hsl(33, 100%, 60%);
    padding: 5px;
}

input[type=text], input[type=email], input[type=submit], select, option {
    width: 50%;
    display: block;
    height: 2em;
}

input[type=radio], input[type=checkbox] {
    height: 2em;
    width: 2em;
}

select, option, label, legend, input[type=submit] {
    font-size: 1.5rem;
    font-weight: bold;
    font-variant: small-caps;
}

textarea {
    width: 50%;
    display: block;
}

fieldset {
    border: none;
}

.structural {
    padding: 10px; 
    border: 5px solid #cc3;
    margin: 10px; 
}

.structural main {
    background-color: black;
}

footer p {
    font-size: 0.8rem;
}

#firstParagraph {
    color: rgb(160, 160, 160);
}

#secondParagraph {
    color: rgb(250, 250 , 250);
}

aside ul {
    list-style-type: "~";
    font-size: 1.25rem;
}

 aside li {
    line-height: 2em;
    color: rgba(255, 140, 0, .9);
}

aside a {
    color: rgb(255, 255, 255);
}

aside a:hover {
    color: #cc3;
}